.quote-text {
    text-align: center;
    font-size: 40px;
}
  
.quote-author {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    margin: 10px 0px;
}

.quote-box {
    opacity: 1;
}
