.quote {
  &__text {
    text-align: center;
    font-size: 32px;

    @media only screen and (min-width: 768px) {
      font-size: 40px;
    }
  }

  &__author {
    text-align: right;
    font-style: italic;
    margin-top: 1rem;
  }
}
