.header {
  &__title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 200;
    color: white;
  }
}
