.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 24px;
  color: whitesmoke;

  &__author {
    padding: 0px 10px;
  }

  &__links {
    padding: 0px 10px;

    &__item {
      padding: 0px 4px;
    }
  }
}
