:root {
  --color1: #66d2d6;
  --color2: #fbc740;
  --color3: #bd97cb;
  --color4: #e56997;
  --color6: #ade292;
  --color7: #4120a9;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

.app {
  position: relative;

  &__header-wrapper {
    margin-bottom: 2rem;
  }

  &__footer-wrapper {
    margin-top: 2rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    border: none;
    align-items: center;
  }
}

.quote-button {
  border: none;
  padding: 1rem;
  //border-radius: 4px;
  box-shadow: 30px 70px 100px #0000004f;
  color: white;
  font-size: 18px;
}

.quote-button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
